@model MVCCV.Models.Entity.TblSertifikalarım
@{
    ViewBag.Title = "SertifikaDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4> Sertifika Bilgisi Düzenleme Sayfası</h4>
<br />
<div class="col col-md-12">
    <form method="post">
        @Html.Label("Sertifika Tarihi")
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
        @Html.Label("Sertifika Açıklaması")
        @Html.TextBoxFor(x => x.ACIKLAMA, new { @class = "form-control" })

        <br />
        <button class="btn btn-primary">Güncelle</button>
        <a href="/Sertifika/SertifikaSil/@ViewBag.d"  class="btn btn-primary">Sil</a>
    </form>

</div>

<br />




