<div class="resume-section-content">
    <form method="post">
        <label>Ad Soyad : </label>
        <input type="text" class="form-control" placeholder="Adınız..." maxlength="100" name="AdSoyad" />
        <label>Mail : </label>
        <input type="text" class="form-control" placeholder="Mail Adresiniz..." maxlength="50" name="Mail"/>
        <label>Konu : </label>
        <input type="text" class="form-control" placeholder="Konu..." maxlength="100" name="Konu" />
        <label>Mesaj İçeriği : </label>
        <input type="text" class="form-control " placeholder="Mesaj İçeriği..." maxlength="1000" name="Mesaj"/>
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>
